<h1>Pages#info</h1>
<table>
  <dl>
    <dt>writer</dt>
    <dd>kokoriru</dd>
  </dl>

  <dl>
    <dt>GitHub</dt>
    <dd><%= link_to 'https://github.com/kokoriru' %></dd>
  </dl>

  <dl>
    <dt>Like</dt>
    <dd>
      <ul>
        <li>Foods: カプリコ・お寿司・餃子</li>
        <li>Animals: 猫</li>
        <li>Colors: <span style="color: #008E94;">■</span></li>
        <li>Words: 食っちゃ寝</li>
      </ul>
    </dd>
  </dl>
</table>
